{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
 
    <!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
    {% block styles %}{% endblock styles %}
</head>

<body>
    {% block content %}{% endblock content %}
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    {% block javascripts %}{% endblock javascripts %}
    <!-- Theme Functions -->
    <script src="{% static 'assets/js/functions.js' %}"></script>
    {% block blockscript %}{% endblock blockscript %}
</body>
</html>