<form class="row g-3 justify-content-center">
    <div class="col">
        <!-- What -->
        <div class="input-group">
            <input class="form-control form-control-lg me-1 pe-5" type="text" placeholder="What">
        </div>
    </div>
    <div class="col-md-5">
        <!-- Where -->
        <div class="input-group">
            <input class="form-control form-control-lg me-1 pe-5" type="text" placeholder="Where">
            <a class="position-absolute top-50 end-0 translate-middle-y text-secondary px-3 z-index-9" href="#"> <i
                    class="fa-solid fa-crosshairs"></i> </a>
        </div>
    </div>
    <div class="col-md-2 d-grid">
        <!-- Search -->
        <a class="btn btn-lg btn-shakespeare text-white" href="#">
            Search
        </a>
    </div>
</form>