{% load static %}

<section class="pt-5 pb-0 position-relative"
    style="background-image: url({% static 'images/home.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: top center;">
    <div class="bg-overlay theme-gradient opacity-8"></div>
    <!-- Container START -->
    <div class="container">
        <div class="pt-5">
            <div class="row position-relative">
                <div class="col-xl-8 col-lg-10 mx-auto pt-sm-5 text-center">
                    <!-- Title -->
                    <h1 class="text-white font-shadow">Find campaigns near you</h1>
                    <p class="text-white font-shadow">Create or support the change you want to see in the world.</p>
                </div>
                <div class="mb-n5 mt-3 mt-lg-5">
                    <div class="col-9 mx-auto">
                        <!-- Category START -->
                        <div class="d-md-flex gap-3 mt-5">
                            <!-- Title -->
                            <div class="mx-auto bg-mode shadow rounded p-4 mt-5">
                                <h5 class="mb-3 text-start">Explore how you could help</h5>
                                <!-- Form START -->
                                {% include 'partials/hero_form.html' %}
                                <!-- Form END -->
                            </div>
                        </div>
                        <!-- Category END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>