<section class="bg-mode py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="d-sm-flex justify-content-between">
                    <!-- Title -->
                    <h4>Explore Campaigns </h4>
                    <a class="btn btn-link" href="#">View all campaigns</a>
                </div>
            </div>
        </div>

        <div class="row g-4">
            {% for campaign in campaigns %}
            <div class="col-sm-6 col-lg-3">
                {% include 'partials/campaign_card.html' with campaign=campaign %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>