{% load static %}

<section class="bg-mode pb-5 pt-0 pt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h4>Popular Causes </h4>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-overlay-bottom card-img-scale">
                    <img class="card-img" src="{% static 'images/education.jpg' %}" alt="">
                    <div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
                        <div class="w-100 mt-auto">
                            <h5 class="text-white">
                                <a href="#" class="btn-link text-reset stretched-link">Education</a>
                            </h5>
                            <span class="text-white small">250 Supporters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-overlay-bottom card-img-scale">
                    <img class="card-img" src="{% static 'images/environment.jpg' %}" alt="">
                    <div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
                        <div class="w-100 mt-auto">
                            <h5 class="text-white">
                                <a href="#" class="btn-link text-reset stretched-link">
                                    Environment
                                </a>
                            </h5>
                            <span class="text-white small">247 Supporters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-overlay-bottom card-img-scale">
                    <img class="card-img" src="{% static 'images/poverty.jpg' %}" alt="">
                    <div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
                        <div class="w-100 mt-auto">
                            <h5 class="text-white">
                                <a href="#" class="btn-link text-reset stretched-link">Poverty</a>
                            </h5>
                            <span class="text-white small">300 Supporters</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card card-overlay-bottom card-img-scale">
                    <img class="card-img" src="{% static 'images/religion.jpg' %}" alt="">
                    <div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
                        <div class="w-100 mt-auto">
                            <h5 class="text-white">
                                <a href="#" class="btn-link text-reset stretched-link">Religion</a>
                            </h5>
                            <span class="text-white small">444 Supporters</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>