{% load static %}

<div class="card h-100">
    <div class="position-relative">
        <img class="img-fluid rounded-top" src="{{ campaign.photo.url }}" alt="">
    </div>
    <div class="card-body position-relative pt-0">
        <a class="btn btn-xs btn-primary mt-n3" href="#">{{ campaign.cause.name }} </a>
        <h6 class="mt-3">
            <a href="{% url 'campaigns:details' campaign.id %}">
                {{ campaign.name }}
            </a>
        </h6>
        <p class="mb-0 small">
            <i class="bi bi-calendar-check pe-1"></i>
            {{ campaign.created_at|date:"M d, Y" }}
        </p>
        <p class="small"> <i class="bi bi-geo-alt pe-1"></i> San francisco </p>
        <ul class="avatar-group list-unstyled align-items-center mb-0">
            <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg' %}" alt="avatar">
            </li>
            <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/03.jpg' %}" alt="avatar">
            </li>
            <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/04.jpg' %}" alt="avatar">
            </li>
            <li class="avatar avatar-xs">
                <div class="avatar-img rounded-circle bg-primary"><span
                        class="smaller text-white position-absolute top-50 start-50 translate-middle">+78</span>
                </div>
            </li>
            <li class="ms-3">
                <small> are supporting</small>
            </li>
        </ul>
        <div class="d-flex mt-3 justify-content-between">
            <div class="w-100">
                <input type="checkbox" class="btn-check d-block" id="Interested1">
                <label class="btn btn-sm btn-outline-danger d-block" for="Interested1">
                    <i class="fa-solid fa-heart me-1"></i> Support
                </label>
            </div>
            <div class="dropdown ms-3">
                <a href="#" class="btn btn-sm btn-primary-soft" id="eventActionShare" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-share-fill"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventActionShare">
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-envelope fa-fw pe-1"></i>
                            Send via Direct Message
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-bookmark-check fa-fw pe-1"></i>
                            Share to News Feed
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-people fa-fw pe-1"></i>
                            Share to a group
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-share fa-fw pe-1"></i>
                            Share post via …
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-person fa-fw pe-1"></i>
                            Share on a friend's profile
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>