{% load static %}

<div class="card h-100">
    <div class="position-relative">
        <img class="img-fluid rounded-top" src="{{ church.photo.url }}" alt="">
    </div>
    <!-- Card body START -->
    <div class="card-body position-relative pt-0">
        <!-- Tag -->
        <a class="btn btn-xs btn-primary mt-n3" href="#">{{ church.denomination.name }} </a>
        <h6 class="mt-3"> <a href="event-details.html"> {{ church.name }} </a> </h6>
        <!-- Date time -->
        <p class="mb-0 small"> <i class="bi bi-calendar-check pe-1"></i> {{ church.created_at|date:"M d, Y" }} </p>
        <p class="small"> <i class="bi bi-geo-alt pe-1"></i> San francisco </p>
        <!-- Avatar group START -->
        <ul class="avatar-group list-unstyled align-items-center mb-0">
            <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg' %}" alt="avatar">
            </li>
            <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/03.jpg' %}" alt="avatar">
            </li>
            <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/04.jpg' %}" alt="avatar">
            </li>
            <li class="avatar avatar-xs">
                <div class="avatar-img rounded-circle bg-primary"><span
                        class="smaller text-white position-absolute top-50 start-50 translate-middle">+78</span></div>
            </li>
            <li class="ms-3">
                <small> are members</small>
            </li>
        </ul>
        <!-- Avatar group END -->
        <!-- Button -->
        <div class="d-flex mt-3 justify-content-between">
            <!-- Interested button -->
            <div class="w-100">
                <a class="btn btn-sm btn-primary-soft d-block" href="{% url 'churches:details' church.id %}">
                    <i class="fa-solid fa-heart me-1"></i> Interested
                </a>
            </div>
            <div class="dropdown ms-3">
                <a href="#" class="btn btn-sm btn-cta-soft" id="eventActionShare" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-share-fill"></i>
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventActionShare">
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-1"></i> Send via Direct
                            Message</a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-1"></i> Share to News
                            Feed </a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-people fa-fw pe-1"></i> Share to a group</a>
                    </li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-1"></i> Share post via …</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-person fa-fw pe-1"></i> Share on a friend's
                            profile</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Card body END -->
</div>