<div class="mt-2 pb-0">
    <nav aria-label="navigation">
        <ul class="pagination pagination-light d-inline-block d-md-flex justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#">Prev</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">15</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>