{% load static %}

<div class="card">
    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
        <h4 class="card-title"> Positions</h4>
    </div>
    <div class="card-body">
        <div class="row g-4">
            {% for position in project.positions.all %}
            <div class="col-lg-6 col-sm-12">
                {% include 'partials/position_card.html' %}
            </div>
            {% endfor %}
        </div>
        {% include 'partials/pagination.html' %}
    </div>
</div>
