{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ campaign.name }} Photos
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/glightbox-master/dist/css/glightbox.min.css' %}">
{% endblock stylesheets %}

{% block content %}
    {% include 'partials/appbar.html' %}
    <main>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 vstack gap-4">
                    {% include 'partials/campaign_header.html' with campaign=campaign %}

                    <div class="row g-4">
                        <div class="col-12">
                            {% include 'partials/campaign_photos.html' with campaign=campaign %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-12">
                            {% include 'partials/campaign_stats.html' %}
                        </div>
                        <div class="col-md-6 col-lg-12">
                            {% include 'partials/news_card.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}


{% block javascripts %}
<script src="{% static 'assets/vendor/glightbox-master/dist/js/glightbox.min.js' %}"></script>
{% endblock javascripts %}