{% load static %}

<div class="my-2">

    <div class="d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0 mb-3">
        <h1 class="h4">Invitations</h1>
        <!-- Button modal -->
        <a class="btn btn-primary-soft btn-sm" href="#" data-bs-toggle="modal" data-bs-target="#newEventModal"> <i
            class="fa-solid fa-paper-plane pe-1"></i> Send Invitation</a>
    </div>

    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="card card-body text-center">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="dropdown ms-auto">
                        <a class="nav-link text-secondary mb-0" href="#" id="aboutAction" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="aboutAction">
                            <li>
                                <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="avatar avatar-xl mx-auto mb-3"> 
                    <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg' %}" alt="">
                </div>
                <div>
                    <h6 class="mb-0">Bryan Knight</h6>
                    <span>Founder</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3">
            <div class="card card-body text-center">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="dropdown ms-auto">
                        <a class="nav-link text-secondary mb-0" href="#" id="aboutAction" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="aboutAction">
                            <li>
                                <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="avatar avatar-xl mx-auto mb-3"> 
                    <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/02.jpg' %}" alt="">
                </div>
                <div>
                    <h6 class="mb-0">Bryan Knight</h6>
                    <span>Founder</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3">
            <div class="card card-body text-center">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="dropdown ms-auto">
                        <a class="nav-link text-secondary mb-0" href="#" id="aboutAction" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="aboutAction">
                            <li>
                                <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="avatar avatar-xl mx-auto mb-3"> 
                    <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/03.jpg' %}" alt="">
                </div>
                <div>
                    <h6 class="mb-0">Bryan Knight</h6>
                    <span>Founder</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3">
            <div class="card card-body text-center">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="dropdown ms-auto">
                        <a class="nav-link text-secondary mb-0" href="#" id="aboutAction" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="aboutAction">
                            <li>
                                <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="avatar avatar-xl mx-auto mb-3"> 
                    <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/04.jpg' %}" alt="">
                </div>
                <div>
                    <h6 class="mb-0">Bryan Knight</h6>
                    <span>Founder</span>
                </div>
            </div>
        </div>
    </div>
</div>