{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ project.name }} Events
{% endblock title %}

{% block content %}
{% include 'partials/appbar.html' %}
<main>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-8 vstack gap-4">
                {% include 'partials/project_header.html' with project=project page_name="Events" %}

                <div class="row g-4">
                    <div class="col-12">
                        {% include 'partials/project_events.html' with project=project %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-12">
                        {% include 'partials/project_stats.html' %}
                    </div>
                    <div class="col-md-6 col-lg-12">
                        {% include 'partials/news_card.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'partials/footer.html' %}
{% endblock content %}