<div class="card h-100">
    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
        <h1 class="h4 card-title">Expenditures</h1>
        <!-- Button modal -->
        <a class="btn btn-complementary-soft" href="#" data-bs-toggle="modal" data-bs-target="#saveExpenditureModal">
            <i class="fa-solid fa-plus pe-1"></i> Add Expenditure
        </a>
    </div>
    <div class="card-body">
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exp in project.expenditures.all %}
                    <tr>
                        <td scope="row">{{ exp.item }}</td>
                        <td>{{ exp.cost }}</td>
                        <td>
                            <div class="dropdown">
                                <!-- Card share action menu -->
                                <button class="icon-sm btn btn-complementary-soft btn-sm" type="button" id="profileAction2" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <!-- Card share action dropdown menu -->
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-info-circle-fill fa-fw pe-2"></i>
                                            Details
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-pencil-square fa-fw pe-2"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bi bi-trash fa-fw pe-2"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

