<div class="card card-body">
    <div class="mt-3">
        <h4>Action Plan </h4>
        <!-- Faq accordion -->
        <div class="accordion accordion-icon" id="accordion-tasks">
            <!-- Faq accordion Item -->
            <div class="accordion-item mb-3">
                <div class="accordion-header" id="One">
                    <button class="accordion-button pe-5 flex-wrap fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Task 1
                    </button>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="One"
                    data-bs-parent="#accordion-tasks">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-0">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input me-1" type="checkbox" disabled value="" id="topCheckbox">
                                    <label class="form-check-label" for="topCheckbox">
                                        For who thoroughly her boy estimating conviction. Removed demands expense account in outward tedious do.
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <h5>Subtasks</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item border-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input me-1" checked disabled type="checkbox" value="" id="firstCheckbox">
                                            <label class="form-check-label" for="firstCheckbox">First Subtask</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input me-1" type="checkbox" disabled value="" id="secondCheckbox">
                                            <label class="form-check-label" for="secondCheckbox">Second Subtask</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item border-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input me-1" type="checkbox" disabled value="" id="thirdCheckbox">
                                            <label class="form-check-label" for="thirdCheckbox">Third Subtask</label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Faq accordion Item -->
            <div class="accordion-item mb-3">
                <div class="accordion-header" id="Two">
                    <button class="accordion-button pe-5 flex-wrap fw-bold collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Task 2
                    </button>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="Two"
                    data-bs-parent="#accordion-tasks">
                    <div class="accordion-body">
                        <p>The furnished she concluded depending procuring concealed.</p>
                        <p class="mb-0">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out
                            laughter raptures returned outweigh. Luckily cheered colonel I do we attack highest enabled.
                            Tried law yet style child. The bore of true of no be deal. Frequently sufficient to be
                            unaffected. </p>
                    </div>
                </div>
            </div>
            <!-- Faq accordion Item -->
            <div class="accordion-item mb-3">
                <div class="accordion-header" id="Three">
                    <button class="accordion-button pe-5 flex-wrap fw-bold collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Task 3
                    </button>
                </div>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="Three"
                    data-bs-parent="#accordion-tasks">
                    <div class="accordion-body">
                        <p>Match way these she avoids seeing death. She who drift their fat off.</p>
                        <p class="mb-0">Speedily say has suitable disposal add boy. On forth doubt miles of child.
                            Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished.
                            Demesne new manners savings staying had. Under folly balls, death own point now men. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>