{% load static %}

<div class="card">
    <div class="card-header border-0 pb-0">
        <h5 class="card-title"> Members</h5>
    </div>
    <div class="card-body">
        {% for pm in project_members %}
        <div class="d-md-flex align-items-center mb-4">
            <div class="avatar me-3 mb-3 mb-md-0">
                <a href="#!"> 
                    <img class="avatar-img rounded-circle" src="{{ pm.member.identity.photo.url }}" alt=""> 
                </a>
            </div>
            <div class="w-100">
                <div class="d-sm-flex align-items-start">
                    <h6 class="mb-0"><a href="#!">{{ pm.member.identity.name }} </a></h6>
                    <p class="small ms-sm-2 mb-0">{{ pm.position }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="d-grid">
            <a href="#!" role="button" class="btn btn-sm btn-loader btn-primary-soft" data-bs-toggle="button"
                aria-pressed="true">
                <span class="load-text"> Load more members </span>
                <div class="load-icon">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </a>
            <!-- Load more button END -->
        </div>
    </div>
</div>