<div class="card h-100">
    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
        <h1 class="h4 card-title">Assignments</h1>
        <!-- Button modal -->
        <div class="dropdown">
            <!-- Card share action menu -->
            <button class="icon-md btn btn-complementary-soft" type="button" id="profileAction2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <!-- Card share action dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-envelope-paper-heart fa-fw pe-2"></i>
                        Send connection request
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-file-earmark-pdf fa-fw pe-2"></i>
                        Save project to PDF
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="bi bi-flag fa-fw pe-2"></i>
                        Report
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Project</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignments %}
                    <tr>
                        <td scope="row">{{ assignment.label|truncatechars:30 }}</td>
                        <td>
                            {% if assignment.start_date == None %}
                                Not started
                            {% else %}
                                {{ assignment.start_date }}
                            {% endif %}
                        </td>
                        <td>{{ assignment.deadline }}</td>
                        <td>
                            {{ assignment.project.name }}
                        </td>
                        <td>
                            {% if assignment.complete %}
                                Complete
                            {% else %}
                                Incomplete
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'assignment' assignment.id %}">Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

