{% load static %}

<div class="card h-100">
    <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
        <h1 class="h4 card-title">Projects</h1>
        <!-- Button modal -->
        <a class="btn btn-primary-soft" href="#" data-bs-toggle="modal" data-bs-target="#newProjectModal"> <i
                class="fa-solid fa-plus pe-1"></i> Create project</a>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
            <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1"> Managed </a> </li>
            <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2"> Local </a> </li>
            <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3"> This week </a> </li>
            <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-4"> Friends </a> </li>
            <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-5"> Supporting </a> </li>
        </ul>

        <div class="tab-content mb-0 pb-0">
            <div class="tab-pane fade show active" id="tab-1">
                <div class="row g-4">
                    {% for project in member.projects_managed.all %}
                        <div class="col-12">
                            {% include 'partials/project_list.html' with project=project %}
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
            
            <div class="tab-pane fade" id="tab-2">
                <div class="row g-4">
                    <div class="col text-center">
                        {% include 'partials/empty_project_tab.html' %}
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="tab-3">
                <div class="row g-4">
                    <div class="col text-center">
                        {% include 'partials/empty_project_tab.html' %}
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="tab-4">
                <div class="row g-4">
                    <div class="col text-center">
                        {% include 'partials/empty_project_tab.html' %}
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="tab-5">
                <div class="row g-4">
                    <div class="col text-center">
                        {% include 'partials/empty_project_tab.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>