<form class="" id="project-form" method="post" action="#" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
    </div>
    <div class="mb-3">
        {{ form.overview.errors }}
        <label class="form-label" for="{{ form.overview.id_for_label }}">Overview:</label>
        {{ form.overview }}
    </div>
    <div class="mb-3">
        {{ form.vision.errors }}
        <label class="form-label" for="{{ form.vision.id_for_label }}">Vision:</label>
        {{ form.vision }}
    </div>
    <div class="mb-3">
        {{ form.beneficiaries.errors }}
        <label class="form-label" for="{{ form.beneficiaries.id_for_label }}">Beneficiaries:</label>
        {{ form.beneficiaries }}
    </div>
    <div class="mb-3">
        {{ form.photo.errors }}
        <label class="form-label" for="{{ form.photo.id_for_label }}">Photo:</label>
        {{ form.photo }}
    </div>
    <div class="mb-3">
        {{ form.cause.errors }}
        <label class="form-label" for="{{ form.cause.id_for_label }}">Cause:</label>
        {{ form.cause }}
    </div>
</form>