<div class="modal fade" id="newCampaignModal" tabindex="-1" aria-labelledby="newCampaignLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCampaignLabel">Create Campaign</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="" id="campign-form" method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.name }}
                    </div>
                    <div class="mb-3">
                        {{ form.overview.errors }}
                        <label class="form-label" for="{{ form.overview.id_for_label }}">Overview:</label>
                        {{ form.overview }}
                    </div>
                    <div class="mb-3">
                        {{ form.vision.errors }}
                        <label class="form-label" for="{{ form.vision.id_for_label }}">Vision:</label>
                        {{ form.vision }}
                    </div>
                    <div class="mb-3">
                        {{ form.photo.errors }}
                        <label class="form-label" for="{{ form.photo.id_for_label }}">Photo:</label>
                        {{ form.photo }}
                    </div>
                    <div class="mb-3">
                        {{ form.financial_goal.errors }}
                        <label class="form-label" for="{{ form.financial_goal.id_for_label }}">Financial Goal:</label>
                        {{ form.financial_goal }}
                    </div>
                    <div class="mb-3">
                        {{ form.cause.errors }}
                        <label class="form-label" for="{{ form.cause.id_for_label }}">Cause:</label>
                        {{ form.cause }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="campign-form" class="btn btn-success-soft">Create now</button>
                <button type="button" class="btn btn-danger-soft me-2" data-bs-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>