<div class="modal fade" id="feedActionPhoto" tabindex="-1" aria-labelledby="feedActionPhotoLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<!-- Modal feed header START -->
			<div class="modal-header">
				<h5 class="modal-title" id="feedActionPhotoLabel">Add post photo</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Modal feed header END -->

				<!-- Modal feed body START -->
				<div class="modal-body">
				<!-- Add Feed -->
				<div class="d-flex mb-3">
					<!-- Avatar -->
					<div class="avatar avatar-xs me-2">
						<img class="avatar-img rounded-circle" src="{{ request.user.photo.url }}" alt="">
					</div>
					<!-- Feed box  -->
					<form class="w-100" id="post-photo-form" method="post" action="{% url 'posts:photo_create' group.id %}" novalidate enctype="multipart/form-data">
						{% csrf_token %}
						<div class="mb-3">
							{{ form.text.errors }}
							{{ form.text }}
						</div>
						<div class="mb-3">
							{{ form.images.errors }}
							{{ form.images }}
						</div>
					</form>
				</div>

				</div>
				<!-- Modal feed body END -->

				<!-- Modal feed footer -->
				<div class="modal-footer ">
					<!-- Button -->
					<button type="submit" form="post-photo-form" class="btn btn-success-soft me-2">Post</button>
					<button type="button" class="btn btn-cta-soft" data-bs-dismiss="modal">Cancel</button>
				</div>
				<!-- Modal feed footer -->
		</div>
	</div>
</div>