<div class="modal fade" id="savePositionModal" tabindex="-1" aria-labelledby="savePositionLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savePositionLabel">Save Position</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="" id="position-form" method="post" action="{% url 'project_managers:create_position' project.id %}" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}">Title:</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        {{ form.details.errors }}
                        <label class="form-label" for="{{ form.details.id_for_label }}">Details:</label>
                        {{ form.details }}
                    </div>
                    <div class="mb-3">
                        {{ form.requirements.errors }}
                        <label class="form-label" for="{{ form.requirements.id_for_label }}">Requirements:</label>
                        {{ form.requirements }}
                    </div>
                    <div class="mb-3">
                        {{ form.people_needed.errors }}
                        <label class="form-label" for="{{ form.people_needed.id_for_label }}">People Needed:</label>
                        {{ form.people_needed }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="position-form" class="btn btn-primary">Save now</button>
                <button type="button" class="btn btn-cta-soft me-2" data-bs-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>