<div class="modal fade" id="saveExpenditureModal" tabindex="-1" aria-labelledby="saveExpenditureLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveExpenditureLabel">Save Expenditure</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="expenditure-form" method="post" action="{% url 'project_managers:create_expenditure' project.id %}" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.item.errors }}
                        <label class="form-label" for="{{ form.item.id_for_label }}">Item:</label>
                        {{ form.item }}
                    </div>
                    <div class="mb-3">
                        {{ form.purpose.errors }}
                        <label class="form-label" for="{{ form.purpose.id_for_label }}">Purpose:</label>
                        {{ form.purpose }}
                    </div>
                    <div class="mb-3">
                        {{ form.cost.errors }}
                        <label class="form-label" for="{{ form.cost.id_for_label }}">Cost:</label>
                        {{ form.cost }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="expenditure-form" class="btn btn-primary">Save now</button>
                <button type="button" class="btn btn-cta-soft me-2" data-bs-dismiss="modal"> Cancel</button>
            </div>
        </div>
    </div>
</div>