<div class="modal fade" id="saveEventModal" tabindex="-1" aria-labelledby="saveEventLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<!-- Modal feed header START -->
			<div class="modal-header">
				<h5 class="modal-title" id="saveEventLabel">Add</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<!-- Modal feed header END -->

			<!-- Modal feed body START -->
			<div class="modal-body">
				<form class="" id="event-form" method="post" action="{% url 'project_managers:create_event' project.id %}" novalidate enctype="multipart/form-data">
					{% csrf_token %}
					<div class="mb-3">
						{{ form.name.errors }}
						<label for="{{ form.name.id_for_label }}">Name:</label>
						{{ form.name }}
					</div>
					<div class="mb-3">
						{{ form.details.errors }}
						<label class="form-label" for="{{ form.details.id_for_label }}">Details:</label>
						{{ form.details }}
					</div>
					<div class="mb-3">
						{{ form.venue.errors }}
						<label class="form-label" for="{{ form.venue.id_for_label }}">Venue:</label>
						{{ form.venue }}
					</div>
					<div class="mb-3">
						{{ form.location.errors }}
						<label class="form-label" for="{{ form.location.id_for_label }}">Location:</label>
						{{ form.location }}
					</div>
					<div class="mb-3">
						{{ form.photo.errors }}
						<label class="form-label" for="{{ form.photo.id_for_label }}">Photo:</label>
						{{ form.photo }}
					</div>
					<div class="mb-3">
						{{ form.num_of_attendees.errors }}
						<label class="form-label" for="{{ form.num_of_attendees.id_for_label }}">Number of Attendees:</label>
						{{ form.num_of_attendees }}
					</div>
					<div class="mb-3">
						{{ form.start_time.errors }}
						<label class="form-label" for="{{ form.start_time.id_for_label }}">Start time:</label>
						{{ form.start_time }}
					</div>
					<div class="mb-3">
						{{ form.end_time.errors }}
						<label class="form-label" for="{{ form.end_time.id_for_label }}">End time:</label>
						{{ form.end_time }}
					</div>
				</form>
			</div>
			<!-- Modal feed body END -->

			<div class="modal-footer">
                <button type="submit" form="event-form" class="btn btn-primary">Save now</button>
                <button type="button" class="btn btn-cta-soft me-2" data-bs-dismiss="modal"> Cancel</button>
            </div>

		</div>
	</div>
</div>