{% load static %}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h4>Campaign Positions</h4>
        </div>

        {% for position in campaign.positions.all %}
        <div class="card mb-3 bg-transparent border-none">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <!-- Blog caption -->
                        <div class="mb-3">
                            <a href="#" class="btn btn-danger-soft btn-sm">{{ campaign.name }}</a>
                            <a class="btn btn-primary-soft btn-sm float-end" href="#">
                                Apply
                            </a>
                        </div>
                        <h5>
                            <a href="#" class="btn-link stretched-link text-reset fw-bold">
                                {{ position.title }}
                            </a>
                        </h5>
                        <div class="d-none d-sm-inline-block">
                            <p class="mb-2">
                                {{ position.details|truncatechars:200 }}
                            </p>
                            <!-- BLog date -->
                            <a class="small text-secondary" href="#!"> 
                                <i class="bi bi-calendar-date pe-1"></i> 
                                Posted on: {{ position.created_at|date:"M d, Y" }}
                            </a>
                            <a class="small text-secondary" href="#!"> &nbsp; 
                                <i class="bi bi-heart pe-1"></i> 
                                Cause: {{ campaign.cause.name }}
                            </a>
                            <a class="small text-secondary" href="#!"> &nbsp; 
                                <i class="bi bi-people pe-1"></i> 
                                Positions Avaliable: {{ position.people_needed }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
        
        <!-- Pagination -->
        <div class="mt-2 pb-0">
            <nav aria-label="navigation">
                <ul class="pagination pagination-light d-inline-block d-md-flex justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
