{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ request.user.name }}
{% endblock title %}

{% block content %}
    {% include 'partials/appbar.html' %}
    <main>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3">
                    <!-- Advanced filter responsive toggler START -->
                    <div class="d-flex align-items-center d-lg-none">
                        <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
                            <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
                            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->

                    {% include 'partials/member_nav.html' %}
                </div>

                <div class="col-lg-9 vstack gap-4">
                    {% include 'partials/assignment_table.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
