{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ request.user.name }}
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/OverlayScrollbars-master/css/OverlayScrollbars.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/tiny-slider/dist/tiny-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/choices.js/public/assets/styles/choices.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/glightbox-master/dist/css/glightbox.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/dropzone/dist/dropzone.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/flatpickr/dist/flatpickr.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/plyr/plyr.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/zuck.js/dist/zuck.min.css' %}">
{% endblock stylesheets %}

{% block content %}
    {% include 'partials/appbar.html' %}
    <main>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3">
                    <!-- Advanced filter responsive toggler START -->
                    <div class="d-flex align-items-center d-lg-none">
                        <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
                            <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
                            <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->

                    {% include 'partials/member_nav.html' %}
                </div>

                <div class="col-lg-9 vstack gap-4">
                    {% include 'partials/share_form.html' %}
                    {% include 'partials/post_list.html' %}
                </div>
            </div>
        </div>
    </main>
    {% comment %} {% include 'modals/feed-modal.html' %}
    {% include 'modals/photo-modal.html' %}
    {% include 'modals/question-modal.html' %}
    {% include 'modals/video-modal.html' %} {% endcomment %}
{% endblock content %}

{% block javascripts %}
    <script src="{% static 'assets/vendor/tiny-slider/dist/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js' %}"></script>
    <script src="{% static 'assets/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox-master/dist/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/vendor/plyr/plyr.js' %}"></script>
    <script src="{% static 'assets/vendor/dropzone/dist/min/dropzone.min.js' %}"></script>
    <script src="{% static 'assets/vendor/zuck.js/dist/zuck.min.js' %}"></script>
    <script src="{% static 'assets/js/zuck-stories.js' %}"></script>
{% endblock javascripts %}