{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ request.user.name }} Groups
{% endblock title %}

{% block content %}
    {% include 'partials/appbar.html' %}
    <main>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3">
                    {% include 'partials/member_nav.html' %}
                </div>

                <div class="col-lg-9 vstack gap-4">
                    <div class="card h-100">
                        <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                            <h1 class="h4 card-title">Groups</h1>
                            <!-- Button modal -->
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-complementary-soft" data-bs-toggle="modal" data-bs-target="#saveGroupModal">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-complementary-soft"><i class="fa-solid fa-compass"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Members</th>
                                        <th scope="col">Started</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in member.groups.all %}
                                    <tr>
                                        <td scope="row">{{ group.name }}</td>
                                        <td scope="row">{{ group.members.count }}</td>
                                        <td scope="row">{{ group.created_at }}</td>
                                        <td>
                                            <div class="dropdown justify-content-center align-items-center">
                                                <!-- Card share action menu -->
                                                <button class="icon-sm btn btn-primary-soft btn-sm" type="button" id="profileAction2" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </button>
                                                <!-- Card share action dropdown menu -->
                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'groups:profile' group.slug %}">
                                                            <i class="bi bi-eye fa-fw pe-2"></i>
                                                            Profile
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{% url 'groups:details' group.id %}">
                                                            <i class="bi bi-pencil-square fa-fw pe-2"></i>
                                                            Details
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-cta" href="#">
                                                            <i class="bi bi-trash fa-fw pe-2"></i>
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'modals/save-group-modal.html' with form=form %}
{% endblock content %}