{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ position.title }}
{% endblock title %}

{% block content %}
    {% include 'partials/appbar.html' %}
    <main>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 vstack gap-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4>{{ position.title }}</h4>
                            </div>
                            <div class="row g-3">
                                <div class="col-12">
                                    <a class="small text-secondary" href="#!">
                                        Posted: {{ position.created_at|date:'M, d, Y' }}
                                    </a>
                                    <span class="px-2">&middot;</span>
                                    <a class="small text-secondary" href="#!">
                                        Positions Available: {{ position.people_needed }} 
                                    </a>
                                </div>
                                <div class="col-12">
                                    <p class="lead">Job description</p>
                                    <p>
                                        {{ position.details }}
                                    </p>
                                    
                                    <p class="lead">
                                        Qualifications
                                    </p>
                                    <div>
                                        {{ position.requirements }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header pb-0 border-0">
                            <h5 class="card-title mb-0">Apply Here</h5>
                        </div>
                        <div class="card-body">
                            <div class="row g-4">
                                <div class="col-12">
                                    <ul class="list-unstyled">
                                        <li class="d-flex justify-content-between mb-3"> 
                                            <strong class="w-150px">Project:</strong> 
                                            <span class="text-end"> {{ position.project.name }} </span>
                                        </li>
                                        <li class="d-flex justify-content-between mb-3"> 
                                            <strong class="w-150px">Cause:</strong> 
                                            <span class="text-end"> {{ position.project.cause.name }} </span>
                                        </li>
                                        <li class="d-flex justify-content-between mb-3"> 
                                            <strong class="w-150px">Project Manager:</strong> 
                                            <span class="text-end"> {{ position.project.manager.identity.name }} </span>
                                        </li>
                                    </ul> 
                                </div>
                                <div class="col-12">
                                    <iframe class="w-100 d-block rounded-bottom grayscale mb-3" height="230" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"  style="border:0;" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                                <div class="col-12">
                                    <a href="#" class="btn btn-primary w-100">Apply</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'partials/footer.html' %}
{% endblock content %}